<div data-controller="sensor-chart" data-sensor-id=<%= sensor.id %> data-show-details="false">
  <div class="card mb-4 w-100"
      data-controller="clickable-element"
      data-action="mousedown->clickable-element#click_start mouseup->clickable-element#maybe_open_link"
      data-url="<%= sensor_path(sensor) %>">
    <div class="card-body text-center">
      <div class="sensor-chart">
        <% sensor.supported_value_types.each do |value_type| %>
          <canvas aria-label="<%= "sensor-#{sensor.id}-#{value_type}" %>" role="img" id="<%= "sensor-#{sensor.id}-#{value_type}" %>" width="200" class="sensor-chart-canvas">
            <p>Ups, Etwas ist hier schief gelaufen, tut uns leid!</p>
          </canvas>
        <% end %>
      </div>
    </div>
  </div>
</div>
