<div class="col-span-12 2xl:col-span-12" data-controller="sensor-chart" data-sensor-id=<%= sensor.id %> data-show-details="false">
  <div class="grid grid-cols-12 gap-6">
    <% sensor.supported_value_types.each do |value_type| %>
      <div class="col-span-12 sm:col-span-6 lg:col-span-3 mt-8">
        <div class="intro-y flex items-center h-10">
          <h2 class="text-lg font-medium truncate mr-5"><%= value_type %></h2>
          <a href="" class="ml-auto text-primary truncate">Show More</a>
        </div>
        <div class="intro-y box p-5 mt-5">
          <div class="mt-3">
            <div class="h-[213px]">
              <canvas aria-label="<%= "sensor-#{sensor.id}-#{value_type}" %>" role="img" id="<%= "sensor-#{sensor.id}-#{value_type}" %>" width="200" class="sensor-chart-canvas">
                <p>Oops, Something went wrong here, sorry!</p>
              </canvas>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
