[data-controller="clickable-element"] {
  cursor: pointer;
}

canvas {
  cursor: crosshair;
}

.fadeIn {
  opacity:1;
  filter: alpha(opacity=100);
  z-index:0
}

.fadeOut {
  opacity:0;
  filter: alpha(opacity=0);
  z-index:-1
}
