<div class="mobile-menu md:hidden">
  <div class="mobile-menu-bar">
    <a href="javascript:;" class="mobile-menu-toggler">
      <i data-lucide="bar-chart-2" class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
  </div>
  <div class="scrollable">
    <a href="javascript:;" class="mobile-menu-toggler">
      <i data-lucide="x-circle" class="w-8 h-8 text-white transform -rotate-90"></i>
    </a>
    <ul class="scrollable__content py-2">
      <li>
        <a href="javascript:;.html" class="menu menu--active">
          <div class="menu__icon"><i data-lucide="home"></i></div>
          <div class="menu__title">
            Dashboard
            <i data-lucide="chevron-down" class="menu__sub-icon transform rotate-180"></i>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
